/* UserForm.module.css */
*{
  font-size: 14px;
}

.outer_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: #080710;
}

.formContainer {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  color: white;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.page {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nameGroup {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 600px) {
  .nameGroup {
    flex-direction: column;
    gap: 1.2rem;
  }
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.label {
  font-weight: 500;
  color: white;
  font-size: 0.75rem;
}

.input,
.select,
.textarea {
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.07);
}
.input::placeholder,
.select::placeholder,
.textarea::placeholder {
  color: white;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
  background-color: rgba(255, 255, 255, 0.07);
}

.input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts the default black icon to white */
  cursor: pointer;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.radioOption input {
  margin: 0;
}

.select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.select option {
  background-color: rgb(63, 60, 60);
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.checkboxGroup input {
  width: 18px;
  height: 18px;
}

.submitButton {
  flex: 1;
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 0.875rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 0.5rem;
  letter-spacing: 0.5px;
}

.disabled_btn {
  cursor: not-allowed;
  background-color: gray;
}

.err_msg {
  visibility: hidden;
  color: #ff512f;
}

.show_err_msg {
  visibility: visible;
}

.modal {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.53);
}

.modal div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  max-width: 20rem;
  background: black;
}

.modal p {
  font-size: 1rem;
  color: white;
}

.modal span {
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: white;
}
